<div class="container article-container">
   <div class=" col-9">
      <div class="row">
         <h1>Setting up Sublime Text</h1>
         
         <div class="row">
            <div class="col-8">
               <p>Spending a little bit of time setting up your working environment will save you a lot of time during your work. It will also help you to do your work well as with the right set up it will be easy to discover mistakes in your code such as missing closing tags. And finally setting up Sublime is very easy and you will surely love the results.
               </p>
            </div>
            <div class="col-4">
               <img src="https://i1.wp.com/rubyauthority.com/wp-content/uploads/2018/07/Sublime-logo.png?zoom=1.5&resize=208%2C208" width="150px" class="img-rounded img-fluid" alt="Sublime Text Icon">
            </div>
         </div>
         <h2>Installing package manager</h2>
         <p>There are two parts to setting up Sublime Text. The largest part of it will be done through third party packages. To be able to access them we first need to install the Sublime Package manager. Simply copy the provided code from the <a href="https://packagecontrol.io/installation">official page</a> and paste it into your console in Sublime Text.</p>
         
         <img src="https://i1.wp.com/rubyauthority.com/wp-content/uploads/2018/07/Sublime-show-console.png?fit=749%2C632" class="img-rounded img-fluid mb-2" alt="Sublime screenshot">
         <p>This will install the required files (don’t worry, they don’t take up much space). Now you are ready to install any packages you like. Let’s look at some of the most useful ones.
         </p>
         <h2>Installing packages</h2>
         <p>To install a package simply press “ctrl + shift + p”, then type in “install package”, press “enter” and you will be prompted to type in a name of the desired package.
         </p>
         <img src="https://i0.wp.com/rubyauthority.com/wp-content/uploads/2018/07/install-package.png?fit=1024%2C443" class="img-rounded img-fluid mb-2" alt="Sublime screenshot">
         <h2>Reindent on save</h2>
         <p>Try typing in <a href="https://packagecontrol.io/packages/Reindent%20on%20save"> reindent on save </a>. This is the name of one the best packages. You simply install it and forget about it. Every time you save your file, the package will automatically reindent your files. I can’t imagine working without it as it saves you a lot of time on formatting and makes it much easier for you to navigate through your code and identify any mistakes. The package works great with HTML, CSS and JavaScript. In my experience it does a poorer job with Ruby.
         </p>
         <h2>CSS3</h2>
         <p>This is a package which helps you to complete your CSS code as you type in. It also highlights your CSS code based on “best practices” and makes your code more readable.
         </p>

         <h2>All Autocomplete</h2>
         <p><a href="https://www.sublimetext.com/docs/3/auto_complete.html">All Autocomplete</a> helps you to complete code as you type it. It is particularly useful for writing HTML as it helps you to close your tags. As with all these packages it has much more to offer but it does require a little bit of researching and experimentation. To disable filling suggested on pressing enter.</p>
         <h2>Java Script Completions</h2>
         <p>To help you complete your Java Script code as you are typing it use the <a href="https://packagecontrol.io/packages/JavaScript%20Completions">Java Script Completions</a> package. Similarly <strong>Ruby Completions</strong> and <strong>Rails Completions</strong> do the job for Ruby on Rails code!</p>
         <h2>Bracket Highlighter</h2>
         <p>This is a package particularly useful when typing Ruby code. It not only show you the other of a two brackets but also helps you to match the beginning and an end of loops, if statements, classes and the like.</p>

         <h2>Styling Sublime Text</h2>
         <p>There are also several packages which enable you to style your Sublime Text itself. You can change for example the background color, size of your currently open tabs, width of indentation, width of spacing etc. While the bellow suggested packages will help you to do some of these things, they will require you to go into the “JSON user-settings” of your Sublime Text editor. Here you can specifically configure the behavior of these packages (as well as those packages previously mentioned) and you can also change some of the default settings of your Sublime Text editor.</p>
         <p>This is a great <a href="https://www.youtube.com/watch?v=oHmPrjSzmwU">video tutorial</a> which will walk you through the necessary steps. Enjoy!</p>
         <h2>Material Theme</h2>

         <p>This <a href="https://packagecontrol.io/packages/Theme%20-%20Dark%20Material">package</a> enables you to style the look of your text editor. You can use it to set up your text editor the way you like it. Stronger contrasts between colors may be pleasant and make it easier to navigate your way around. Many people prefer light background but I find dark background less tiring for eyes.</p>
         <h2>SideBarEnhancements</h2>
         <p>This package adds additional functionality to your side bar. You can now easily create new files, move and rename your existing files and much more. Give it a try yourself.</p>
         <h2>Tips</h2>
         <ul>
            <li>To run your Java Script code in a console press “ctrl + b”. While debugging with Google Chrome Development Tools is great, sometimes seeing your JS only in Sublime Text is more convenient. To close the console again, simply press “Escape”.
            </li>
         </ul>
         <img src="https://i0.wp.com/rubyauthority.com/wp-content/uploads/2018/07/JSConsole-output.png?resize=897%2C745" class="img-rounded img-fluid mb-2" alt="Sublime screenshot">
         <ul>
            <li>To navigate between different tabs press “ctrl + tab”. Unlike web browser, Sublime doesn’t go over your tabs from left to right but rather in order depending on your usage of them. Very clever.
            </li>
            <li>
               “ctrl + alt + arrow up/down” enables you to type on several lines at the same time. Particularly useful when systematically changing classes of multiple elements underneath each other.
            </li>
         </ul>

         <img src="https://i2.wp.com/rubyauthority.com/wp-content/uploads/2018/07/multiline-change.png?resize=1024%2C335" class="img-rounded img-fluid mb-2" alt="Sublime screenshot">

         <h2>Summary</h2>
         <p>These were just some of the packages I find the most useful and particularly easy to use. I don’t know all the great packages out there and I have intentionally skipped some of the most popular ones (as their use may not be intuitive for beginner programmers). Play around with them and find out which of them work well for you. When you are not satisfied with the way your Sublime Text editor works, you can always uninstall any package by launching the package manager with “ctrl + shift + p” and typing “uninstall package” (then “enter” followed by the name of the package you wish to uninstall). Similarly, you can also access the list of all your installed packages. What are your favorite Sublime packages?</p>
      </div>
   </div>