<div class="container article-container">
   <div class=" col-9">
      <div class="row">
         <h1>How to design beautiful responsive emails</h1>      
         
         <div class="row">
            <div class="col-8">
               <p>MJML is a framework for developing responsive email templates which are render correctly across a wide range of email providers, web browsers and operating systems. It is even compatible with Outlook!
               </p>


               <p>MJML can either be used locally via “Node Package Manager” or in a provided online text editor with a life visual preview.
               </p>

               <p><a href="https://mjml.io/try-it-live">Live editor</a>. And this is its <a href="https://mjml.io/documentation/">Documentation</a>.</p>
            </div>
            <div class="col-4">
               <img src="https://i1.wp.com/rubyauthority.com/wp-content/uploads/2019/01/email.png?zoom=1.5&resize=208%2C208" class="img-rounded img-fluid" alt="email">
            </div>
         </div>
         <p>Walkthrough Example:</p>

         <p>MJML utilizes a grid system. < mj-section> enables us to put content into a row whereas < mj-column> enables us to display content next to each other in columns within a particular row. Width of the columns is shared evenly by default i.e. with 2 columns next to each other, each will occupy 50% of the space. The width of a row is 600px by default.</p>

         <p> To insert custom HTML elements we would use the MJML tag < mj-text>. Within this tag we can specify our own HTML elements. Let’s look at an example. Say we want to display an image of a product with a URL, product description and product price all next to each other. Our code could look something like this. 
         </p>
         
         <img src="https://i0.wp.com/rubyauthority.com/wp-content/uploads/2019/01/img1.png" class="img-rounded img-fluid mb-2" alt="code screenshot">

         <p>First we create a row by using < mj-section> tag. Within this tag we then create 3 columns using < mj-column>. As our description of a product is much longer than the price of a product we decide to allocate more space to this column specifying attribute width < mj-column width=”250”> Notice that we don’t add units (e.g. pixels) and that the total width of all columns adds up to 600 (as we have mentioned previously the width of a row is 600px). For other MJML attributes please refer to the documentation. Those shown in this example should be largely self-explanatory. To create URL links and to embed these into a picture we need to use classic HTML. This we can do by nesting our HTML code in the < mj-text> tag.
         </p>

         <img src="https://i0.wp.com/rubyauthority.com/wp-content/uploads/2019/01/img2.png?fit=666%2C191" class="img-rounded img-fluid mb-2" alt="code screenshot">

         <p>Notice, that we were able to use a very straight forward syntax while MJML ensures that the HTML code will display correctly on various browsers and email clients. Typically we would need to write a complicated structure with several nested HTML tables to ensure a correct display particularly in Outlook.            
         </p>

         <p>In the example above we have contained some CSS styling directly to our HTML using attribute “Style”. We can also write our CSS code in the “head section” as follows:           
         </p>

         <img src="https://i1.wp.com/rubyauthority.com/wp-content/uploads/2019/01/img3.png" class="img-rounded img-fluid mb-2" alt="code screenshot">         

         <p>Note that the CSS will apply only to HTML elements and will have no impact on the MJML tags. To style MJML tags we need to use the supported attributes. As can be seen from the examples, we can directly embed Jinja into the code. However Jinja used outside of the MJML elements (e.g. cycles) will be discarded.            
         </p>



      </div>
   </div>