<!-- 
<div class="col-sm-12 offset-5">
  <button class="btn btn-success" id="gdrive-button">Open Google Drive</button>
</div>

<script type="text/javascript" src="https://apis.google.com/js/api.js"></script>
<script type="text/javascript">

  document.getElementById("gdrive-button").addEventListener("click", function(event){
    event.preventDefault();    
    loadPicker();
  });
  
    // The Browser API key obtained from the Google API Console.
    // Replace with your own Browser API key, or your own key.    
    var developerKey = '<%= @developer_key %>';

    // The Client ID obtained from the Google API Console. Replace with your own Client ID.
    var clientId = '<%= @client_id %>';

    // Replace with your own project number from console.developers.google.com.
    // See "Project number" under "IAM & Admin" > "Settings"
    var appId = '<%= @app_id %>';

    // Scope to use to access user's Drive items.
    var scope = ['https://www.googleapis.com/auth/drive'];    
    var pickerApiLoaded = false;
    var oauthToken;

    // Use the Google API Loader script to load the google.picker script.
    function loadPicker() {      
      gapi.load('auth', {'callback': onAuthApiLoad});
      gapi.load('picker', {'callback': onPickerApiLoad});
    }

    function onAuthApiLoad() {
      window.gapi.auth.authorize(
      {
        'client_id': clientId,
        'scope': scope,
        'immediate': false
      },
      handleAuthResult);
    }

    function onPickerApiLoad() {
      pickerApiLoaded = true;
      createPicker();
    }

    function handleAuthResult(authResult) {
      if (authResult && !authResult.error) {
        oauthToken = authResult.access_token;
        createPicker();
      }
    }

    // Create and render a Picker object for searching images.
    function createPicker() {
      if (pickerApiLoaded && oauthToken) {
        //View all the documents of a Specific folder of Google drive        
        var downloadView = new google.picker.DocsView().setParent('1fJhppKeZkC_U6iLGmQn1FBAQOUxYiEn2');
        var uploadView = new google.picker.DocsUploadView().setParent('1fJhppKeZkC_U6iLGmQn1FBAQOUxYiEn2') 
        downloadView.setMimeTypes("text/plain");             
        uploadView.setMimeTypes("text/plain");             
        var picker = new google.picker.PickerBuilder()
        // .setStarred(true);
        // .setLabel("Starred");
        // .enableFeature(google.picker.Feature.NAV_HIDDEN)
        // .enableFeature(google.picker.Feature.MULTISELECT_ENABLED)
        .setAppId(appId)
        .setOAuthToken(oauthToken)
        .addView(downloadView)     
        .addView(uploadView)                
        // .addView(new google.picker.DocsUploadView())
        .setDeveloperKey(developerKey)
        .setCallback(pickerCallback)
        .build();
        picker.setVisible(true);
      }
    }        

    // Callback function
    function pickerCallback(data) {
      var html = [];
      var url;
      var action = data[google.picker.Response.ACTION];
      if (action == google.picker.Action.PICKED) {
        var documents = data[google.picker.Response.DOCUMENTS];
        for (var i = 0 ; i < documents.length ; i++) {
          // THERE WILL BE A PROBLEM WITH MULTIPLE SELECTED FILES
          url = documents[i][google.picker.Document.URL];
          html.push([           
            documents[i][google.picker.Document.URL]
            ].join("\t"));    
        }
      } else if (action == google.picker.Action.CANCEL) {
        html.push("No file selected");
      }      
      // Prevent empty callback
      if(url){
        openURLInNewTab(url);  
      }      
    }

    function showMessage(message){      
      document.getElementById("result").innerHTML = message;
    }
    function openURLInNewTab(url){
      window.open(url, '_blank').focus();      
    }

  </script>

  <div id="result"></div>  
  < !-- <script type="text/javascript" src="https://apis.google.com/js/api.js?onload=loadPicker"></script> -->
