


<div class="container blog-homepage-container">  

  <div class="row row-1">

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card homepage-card">    
        <%=image_tag ("login_img.jpg"), class: "blog-thumbnail-img"%>    
        <div class="card-body">
          <h4 class="card-title">How to design beautiful responsive emails</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <%= link_to("Read", "/articles/article1", method: :get, class: "btn btn-primary") %>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card homepage-card">    
        <%=image_tag ("login_img.jpg"), class: "blog-thumbnail-img"%>    
        <div class="card-body">
          <h4 class="card-title">How to setup Sublime Text</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <%= link_to("Read", "/articles/article2", method: :get, class: "btn btn-primary") %>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card homepage-card">    
        <%=image_tag ("login_img.jpg"), class: "blog-thumbnail-img"%>    
        <div class="card-body">
          <h4 class="card-title">How to authenticate users with Devise</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card homepage-card">    
        <%=image_tag ("login_img.jpg"), class: "blog-thumbnail-img"%>    
        <div class="card-body">
          <h4 class="card-title">How to design a landing page</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>

  </div>

  <div class="row row-2">

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card homepage-card">    
        <%=image_tag ("login_img.jpg"), class: "blog-thumbnail-img"%>    
        <div class="card-body">
          <h4 class="card-title">How to design page navigation</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card homepage-card">    
        <%=image_tag ("login_img.jpg"), class: "blog-thumbnail-img"%>    
        <div class="card-body">
          <h4 class="card-title">How to deploy Rails application on Linux server</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card homepage-card">    
        <%=image_tag ("login_img.jpg"), class: "blog-thumbnail-img"%>    
        <div class="card-body">
          <h4 class="card-title">How to build a WordPress theme</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card homepage-card">    
        <%=image_tag ("login_img.jpg"), class: "blog-thumbnail-img"%>    
        <div class="card-body">
          <h4 class="card-title">How to setup SEO optimisation</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>

  </div>

  <div class="row row-3">

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card homepage-card">    
        <%=image_tag ("login_img.jpg"), class: "blog-thumbnail-img"%>    
        <div class="card-body">
          <h4 class="card-title">How to build an E-commerce platform from ground up</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card homepage-card">    
        <%=image_tag ("login_img.jpg"), class: "blog-thumbnail-img"%>    
        <div class="card-body">
          <h4 class="card-title">How to pick the right marketing color</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card homepage-card">    
        <%=image_tag ("login_img.jpg"), class: "blog-thumbnail-img"%>    
        <div class="card-body">
          <h4 class="card-title">How to generate demand</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card homepage-card">    
        <%=image_tag ("login_img.jpg"), class: "blog-thumbnail-img"%>    
        <div class="card-body">
          <h4 class="card-title">How to generate leads</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>

  </div>

  <div class="row row-4">

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card homepage-card">    
        <%=image_tag ("login_img.jpg"), class: "blog-thumbnail-img"%>    
        <div class="card-body">
          <h4 class="card-title">How to write software tests</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card homepage-card">    
        <%=image_tag ("login_img.jpg"), class: "blog-thumbnail-img"%>    
        <div class="card-body">
          <h4 class="card-title">How to deploy Rails application to Heroku</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card homepage-card">    
        <%=image_tag ("login_img.jpg"), class: "blog-thumbnail-img"%>    
        <div class="card-body">
          <h4 class="card-title">How to write clean code</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card homepage-card">    
        <%=image_tag ("login_img.jpg"), class: "blog-thumbnail-img"%>    
        <div class="card-body">
          <h4 class="card-title">How to create a consistent marketing message</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>

  </div>

  <div class="row row-5">

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card homepage-card">    
        <%=image_tag ("login_img.jpg"), class: "blog-thumbnail-img"%>    
        <div class="card-body">
          <h4 class="card-title">How to design a logo</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card homepage-card">    
        <%=image_tag ("login_img.jpg"), class: "blog-thumbnail-img"%>    
        <div class="card-body">
          <h4 class="card-title">How to hire remote software developers</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card homepage-card">    
        <%=image_tag ("login_img.jpg"), class: "blog-thumbnail-img"%>    
        <div class="card-body">
          <h4 class="card-title">Comparison of popular content management platforms</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card homepage-card">    
        <%=image_tag ("login_img.jpg"), class: "blog-thumbnail-img"%>    
        <div class="card-body">
          <h4 class="card-title">How to build an interactive Web Layer</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>

  </div>

  <div class="row row-6">

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card homepage-card">    
        <%=image_tag ("login_img.jpg"), class: "blog-thumbnail-img"%>    
        <div class="card-body">
          <h4 class="card-title">How to do essential online marketing configuration of your website</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card homepage-card">    
        <%=image_tag ("login_img.jpg"), class: "blog-thumbnail-img"%>    
        <div class="card-body">
          <h4 class="card-title">How to make decisions under uncertainty</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card homepage-card">    
        <%=image_tag ("login_img.jpg"), class: "blog-thumbnail-img"%>    
        <div class="card-body">
          <h4 class="card-title">How to make a winning mission statement</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card homepage-card">    
        <%=image_tag ("login_img.jpg"), class: "blog-thumbnail-img"%>    
        <div class="card-body">
          <h4 class="card-title">How to use Bootstrap4 to build a responsive website</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>

  </div>

  <div class="row row-6">

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card homepage-card">    
        <%=image_tag ("login_img.jpg"), class: "blog-thumbnail-img"%>    
        <div class="card-body">
          <h4 class="card-title">How to let others know you are there</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card homepage-card">    
        <%=image_tag ("login_img.jpg"), class: "blog-thumbnail-img"%>    
        <div class="card-body">
          <h4 class="card-title">Best marketing automation platforms</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card homepage-card">    
        <%=image_tag ("login_img.jpg"), class: "blog-thumbnail-img"%>    
        <div class="card-body">
          <h4 class="card-title">My experience with a coding bootcamp</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card homepage-card">    
        <%=image_tag ("login_img.jpg"), class: "blog-thumbnail-img"%>    
        <div class="card-body">
          <h4 class="card-title">Making your own CDN - injecting JS script into other people's website</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>

  </div>

  <div class="row row-7">

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card homepage-card">    
        <%=image_tag ("login_img.jpg"), class: "blog-thumbnail-img"%>    
        <div class="card-body">
          <h4 class="card-title">Programatically uploading articles on Linkedin </h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card homepage-card">    
        <%=image_tag ("login_img.jpg"), class: "blog-thumbnail-img"%>    
        <div class="card-body">
          <h4 class="card-title">How to build a production level server</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card homepage-card">    
        <%=image_tag ("login_img.jpg"), class: "blog-thumbnail-img"%>    
        <div class="card-body">
          <h4 class="card-title">Span protection - how to protect website from content scraping and bots.</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card homepage-card">    
        <%=image_tag ("login_img.jpg"), class: "blog-thumbnail-img"%>    
        <div class="card-body">
          <h4 class="card-title">Styling text content on a page</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>

  </div>

  <div class="row row-8">

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card homepage-card">    
        <%=image_tag ("login_img.jpg"), class: "blog-thumbnail-img"%>    
        <div class="card-body">
          <h4 class="card-title">Content Management Systems: comparison and how to operate them.</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card homepage-card">    
        <%=image_tag ("login_img.jpg"), class: "blog-thumbnail-img"%>    
        <div class="card-body">
          <h4 class="card-title">How to build an Article Page</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card homepage-card">    
        <%=image_tag ("login_img.jpg"), class: "blog-thumbnail-img"%>    
        <div class="card-body">
          <h4 class="card-title">....</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card homepage-card">    
        <%=image_tag ("login_img.jpg"), class: "blog-thumbnail-img"%>    
        <div class="card-body">
          <h4 class="card-title">....</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>

  </div>