/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 @import "bootstrap";
 @import "font-awesome";

 * {
   font-family: "Roboto";
}

.jumbotron{   
   background: url(http://rubyauthority.com/wp-content/themes/luxe/images/patterns/black_linen_v2.png) repeat;   
   text-align: center;   
   color: white;
}

.jumbotron-text{
   margin: auto;
}

.email-subscription-input{
   border-radius: 10px;
}

// Small devices
@media only screen and (max-width: 576px) {
   .submit-button{
      margin-top: 10px;
   }

   .email-subscription-input::placeholder{
      text-align: center;
   }
}

