 // Global style
 * {
   font-family: "Roboto";
}

// Articles page
.homepage-card{
   margin-top: 20px;
}

.blog-thumbnail-img{
   height: 150px;
}

.first-row{
   margin-top: 20px;
}

// Individual articles
h1{
   text-align: center;
}

.article-container p{
   text-align: justify;
}

