<!DOCTYPE html>
<html>
<head>
  <title>Digital World</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <!-- <li class="nav-item">
            <%= link_to "Banner Builder", "/", method: :post, class: "nav-link"%>
          </li> -->
          <% end %>
          <li class="nav-item">
            <%= link_to "Store", "/", method: :post, class: "nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to "Articles", "/test_page", method: :get, class: "nav-link"%>
          </li>
          
          <li class="nav-item">
            <%= link_to "Free Resources", "/", method: :post, class: "nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to "Portfolio", "/portfolio", method: :post, class: "nav-link"%>
          </li>
          <% if user_signed_in? %>
          <!-- <li class="nav-item">
            <%= link_to "Sign Out", "/sign_out", method: :delete, class: "nav-link"%>
          </li>       -->
          <% end %>
        </ul>
      </div>
    </nav>    
    <div class="jumbotron jumbotron-fluid">
      <div class="container-fluid">
        <h1>Digital World</h1>
        <p>Complete Toolkit for the 21st century Entrepreneur</p>
        <div class="container">
          <%= form_tag("/email_submit", method: "post") do %>
          
          <div class="row col-sm-12 col-md-6 offset-1 offset-md-3 offset-lg-3">
            <%= text_field_tag("email", value = nil, options = {class: "form-control email-subscription-input col-10 col-sm-6 col-md-8 col-lg-7", placeholder: "email@address.com"}) %>
            <%= submit_tag("Sign Up", class: "btn btn-success col-10 col-sm-3 offset-sm-1 col-md-3 submit-button") %>
          </div>
          
          <%= label_tag(:subscription, "Sign Up for weekly newsletter", class: "text-center mt-3") %>
          
          <% end %>
        </div>
      </div>
    </div>

    <%= yield %>
    
  </body>
  </html>